html {
    font-family: 'Roboto', sans-serif;
    background-color: #FFDEDF;
}

h1 {
    color: #048D79;
    font-size: 50px;
    display: block;
    position: absolute;
    
}
.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: transparent;
}
.buttonGroup {
    margin-top: 150px;
}
button {
    position: absolute;
    display: flex;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 30px;
    background-color: #9DDAD2;
    border: none;
    border-radius: 7px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.heart-container{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart {
    width: 70px;
    height: 70px;
    background-color: #FF0040;
    position: absolute;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #FF0040;
    animation: heart 0.6s linear infinite;
}
@keyframes heart {
    0%{
        transform: rotate(-45deg) scale(1.0);
    }
    50%{
        transform: rotate(-45deg) scale(0.7);
    }
    100%{
        transform: rotate(-45deg) scale(0.5);
    }
}
.heart:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #FF0040;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #FF0040;
}
.heart:after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #FF0040;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #FF0040;
}